html {
    --primary: #090c1a;
    --secondary: #c2c6da;
    --secondary-variation: rgba(194, 198, 218, 0.4);
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    transition: 0.7s ease;
}

*::after,
*::before {
    transition: 0.7s ease;
}

/* TO DO: FONTS */

body {
    position: relative;
    /* font-family: ; */
    margin: 0;
    padding: 0;
    text-align: left;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: rgba(var(--gray-dark));
    font-size: 20px;
    line-height: 1.7;
    background: var(--primary);
    overflow-x: hidden;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background-image: ; */
    pointer-events: none;
    user-select: none;
}

main {
    width: 880px;
    max-width: calc(100% - 5em);
    margin: auto;
    color: var(--secondary);
}

