---
import ProjectsSection from '../components/ProjectsSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro'
import Introduction from '../components/Introduction.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
	<main class="mx-auto max-w-4xl h-full py-10 px-8 flex flex-col gap-4">

	  <Introduction />

	  <div class="flex flex-col w-full h-full gap-4">

		 <ProjectsSection />

		 <!-- <ExperienceSection /> -->

	  </div>
     
		
	</main>
	
	
</Layout>
