<footer>
    <ul class="social-links">
        <li>
            <a href="_blank" href="/">
                <!-- Icono LinkedIn -->
            </a>
        </li>
        <li>
            <a href="_blank" href="/">
                <!-- Icono GitHub -->
            </a>
        </li>
    </ul>
    <span>Hecho con amor por JanuDev</span>
</footer>