<footer>
    <span>Made with ❤️ for JanuDev</span>
</footer>
<style>
    footer {
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        color: rgb(var(--gray));
        font-size: 1.1rem;
        text-align: center;
    }
</style>