<section class="h-72">
		<article class="max-w-[65ch] py-4">
			<p class="leading-loose">
			I'm <strong>Juan</strong>, a web developer with +1 years of experience. I'm passionate about databases, UI/UX design, and building open-source software.
		   </p>
		</article>
		
		
      </section>