<section class="flex-auto max-h-[410px]">
	       <div class="flex justify-between mb-4">
			 <h2 class="text-xl font-semibold">Featured Projects</h2>
		     <a href="/" class="flex  items-center text-sm space-x-2 font-medium text-neutral-500 dark:text-neutral-400 dark:hover:text-white">
		    	 <span>More projects</span>
		     	 <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide-icon lucide lucide-arrow-right opacity-70 duration-200 group-hover:translate-x-[2px] group-hover:opacity-100"><path d="m12 5 7 7-7 7"></path></svg>
		     </a>

	       </div>
		  
		   <div class=" grid grid-cols-1  md:grid-cols-2 gap-4">
			  <article class=" flex flex-col border rounded-md  shadow-sm border-neutral-600 ">

				<!-- Image or video -->
				 <a href="/" class="cursor-pointer">
					<video autoplay loop muted muted playsinline src="https://pub-83c5db439b40468498f97946200806f7.r2.dev/chat-collect.mp4" class="pointer-events-none mx-auto h-48 w-full object-cover rounded-t-md"></video>
				</a>

				<!-- Project Description -->
				<div class="px-3 py-4 flex flex-col">
					
					<span class="text-base tracking-tight font-medium">Project #1</span>

					<div class="max-w-full text-pretty text-xs dark:text-neutral-400">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					</div>

					<div class="flex gap-2 flex-wrap mt-3 ">
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">Typescript</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">TailwindCSS</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">CSS</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">HTML</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">React</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">Rust</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">Python</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">C++</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">C#</div>
					</div>

				</div>
				
			  </article>

			   <article class="flex flex-col border rounded-md  shadow-sm border-neutral-600 ">

				<!-- Image or video -->
				 <a href="/" class="cursor-pointer">
					<video autoplay loop muted playsinline src="https://cdn.llm.report/openai-demo.mp4" class="pointer-events-none mx-auto h-48 w-full object-cover rounded-t-md"></video>
				</a>

				<!-- Project Description -->
				<div class="px-3 py-4 flex flex-col">
					
					<span class="text-base tracking-tight font-medium">Project #2</span>

					<div class="max-w-full text-pretty text-xs dark:text-neutral-400">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					</div>

					<div class="flex gap-2 flex-wrap mt-3 ">
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">Typescript</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">TailwindCSS</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">CSS</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">HTML</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">React</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">Rust</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">Python</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">C++</div>
						<div class="border border-neutral-400 p-1.5 rounded-md text-[10px] inline-flex font-semibold items-center">C#</div>
					</div>

				</div>
				
			  </article>
			 
			 
		   </div>
</section>