---
import "@fontsource-variable/onest"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="border border-[#473f38] h-[calc(100vh-24px)] w-[calc(100vw-24px)] m-3 rounded overflow-scroll">
			<slot />
		</div>
	</body>
</html>

<style is:global
>

    html {
		font-family: "Onest Variable", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		--tw-bg-opacity: 1;
		background: rgb(23 23 23 / var(--tw-bg-opacity));
		color: #fff;
	}

	

	
</style>
